<app-header></app-header>

<div class="container mright">
    <div class="row col-sm-12 pl padding-top-20">
        <div class="col-sm-8 plb pb-3 box">
            <h5 class="pl-3 headingName">Personal Details</h5>
            <form class="profileForm">
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-6 ">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6 pl">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-6 ">
                        <label for="">E-mail</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col-sm-6 pl">
                        <label for="">Mobile No</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-6 ">
                        <label for="">Country</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6 pl">
                        <label for="">Clinic Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-6 ">
                        <label for="">Practice Type</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6 pl">
                        <label for="">Speciality</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 ">
            <div class="box pb-3">
            <h5 class="pl-3 headingName">Account Settings</h5>
            <div class="padding-top-20">
                <div class="col-sm-12 ptb" (click)="openDialog()">
                   <a  style="color: black;">Change Password</a>
                   <i class="fa fa-chevron-right float-right"></i>
                                </div>
                <hr>
                <div class="col-sm-12 ptb" (click)="openDialog2()">
                    <a  style="color: black;">Save Payment Details</a>
                    <i class="fa fa-chevron-right float-right"></i>                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-sm-12 pl padding-top-20">
        <div class="col-sm-8 plb pb-3 box">
            <h5 class="pl-3 headingName">Billing Address</h5>
            <form class="profileForm">
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-4 ">
                        <label for="">Block No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-4 pl">
                        <label for="">Floor No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-4 ">
                        <label for="">Unit No.</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-12 ">
                        <label for="">Building Name</label>
                        <input type="" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between padding-top-20">
                    <div class="col-sm-6 ">
                        <label for="">Street Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6 pl">
                        <label for="">Zip/Postal</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 pl">

        </div>

    </div>
    <div class="row col-sm-12 pl padding-top-20">
        <div class="col-sm-8 plb pb-3 box">
            <h5 class="pl-3 headingName">Shipping Details</h5>
            
            <form class="profileForm">
                <div class="d-flex justify-content-between padding-top-20">
                <div class="col-sm-12 ">
                    <button mat-stroked-button class="text-blue float-right brdr" >
                        <i class="material-icons addIcon">add_circle_outline</i>Add Address</button>
                </div>
                </div>
            <div class="d-flex justify-content-between padding-top-20">
                <div class="col-sm-12 ">
                    <textarea id="shippindAdd" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-between padding-top-20">
                <div class="col-sm-12 ">
                    <textarea id="shippindAdd" class="form-control" rows="3"></textarea>
                </div>
            </div>
            </form>
        </div>
        <div class="col-sm-4 pl">

        </div>

    </div>
</div>