<header class="header-wrapper">
    <!-- navbar wrapper -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top flex-column navbar-wrapper">
        <div class="container">

            <!-- rx agile logo -->
            <a class="navbar-brand">
                <img src="assets/images/Lumiere-Logo.svg" alt="Rxagile logo svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end home-navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-list-wrapper">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                                Sell On Lumiere32
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                                About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help Center
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                             Wish List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Wish List
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- navbar dark wrapper starts -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top flex-column navbar-dark-wrapper">
        <div class="container">
            <!-- rx agile logo -->
            <a class="navbar-brand">
                <span><i class="fa fa-bars"></i></span>
                <span>Categories</span>
            </a>
            <div class="search-wrapper">
                <input type="text" class="form-search-wrapper" />
                <div class="search-absolute-wrapper">
                    <span>
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse justify-content-end home-navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-list-wrapper">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                                    Sell On Lumiere32
                                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                                    Help Center
                                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                                    Wish List
                                </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
