<mat-toolbar class="first">
  <mat-toolbar-row class="container header1" *ngIf="!authService.loginFlag">
    <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="container row">
      <a href="">
        <img class="paddingLeft" src="assets/images/Lumiere-Logo.svg" alt="Rxagile logo svg">
      </a>
    </span>
    <button mat-button fxShow="true" fxHide.gt-sm class="cartButton">
      <mat-icon class="iconShopping" matBadgeColor="accent">add_shopping_cart</mat-icon>Cart
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxShow="true" fxHide.gt-sm>
      <mat-icon class="iconDisplay">flag</mat-icon>
      Sin<mat-icon class="iconDisplay">expand_more</mat-icon>
    </button>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button>Sell On Lumiere32</button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
      <button mat-button>About Us</button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
      <button mat-button>Help Center</button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
      <button mat-button>Wish List</button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
      <button mat-button>Contact Us</button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item><img src="assets/images/Malaysia Flag.svg" alt="truck image"
            class="img-fluid " />Malaysia</button>
        <button mat-menu-item><img src="assets/images/singapore  flag.svg" alt="truck image"
            class="img-fluid " />Singapore</button>
      </mat-menu>
      <button mat-button class="border1" [matMenuTriggerFor]="appMenu">
        <img src="assets/images/singapore  flag.svg" alt="truck image" class="img-fluid " />

        Singapore <mat-icon class="iconDisplay">expand_more</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row class="container header1" *ngIf="authService.loginFlag">
    <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="container row">
      <a href="">
        <img class="paddingLeft" src="assets/images/Lumiere-Logo.svg" alt="Rxagile logo svg">
      </a>
    </span>
    <button mat-button fxShow="true" fxHide.gt-sm class="cartButton">
      <mat-icon class="iconShopping" matBadgeColor="accent">add_shopping_cart</mat-icon>Cart
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxShow="true" fxHide.gt-sm>
      <mat-icon class="iconDisplay">flag</mat-icon>
      Sin<mat-icon class="iconDisplay">expand_more</mat-icon>
    </button>


    <div fxLayout="row" fxShow="false" fxShow.gt-sm >
      <!-- <a >Help<i class="fa fa-chevron-down"></i></a>-->
      <div class="buttonHelp"><button class="btn">Help<i class="fa fa-chevron-down down"></i></button></div>
      <div class="buttonQ"><button class="btn quotes">Get Quotes</button></div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item><img src="assets/images/Malaysia Flag.svg" alt="truck image"
            class="img-fluid " />Malaysia</button>
        <button mat-menu-item><img src="assets/images/singapore  flag.svg" alt="truck image"
            class="img-fluid " />Singapore</button>
      </mat-menu>
      <button mat-button class="border1" [matMenuTriggerFor]="appMenu">
        <img src="assets/images/singapore  flag.svg" alt="truck image" class="img-fluid " />

        Singapore <mat-icon class="iconDisplay">expand_more</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="second" id="searchBtnn">
<!-- <mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item>Menu Item 1</a>
      <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#"mat-list-item>Menu Item 6</a>
    </mat-nav-list>
  </mat-sidenav>
 <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content> 
</mat-sidenav-container> -->

<mat-toolbar-row class="header2 container" id="headerClr">
  
  <a class="cate">
    <!-- <mat-icon class="iconCategorys">menu</mat-icon> -->
    <i class="fa fa-bars"></i>
    <h4 class="iconCategory" fxShow="false" fxShow.gt-sm>Categories</h4>
  </a>
  <div class="row col-md-7 searchDiv">
    <input type="text" class="inputSearch" placeholder="Search for products and Categories">
    <div class="searchBtn">
      <button mat-fab color="primary" class="search-icon">
        <img src="assets/images/search.svg" alt="truck image" class="" />

      </button>
    </div>
  </div>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm class="iconsAll col-md-4">
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="dashboard()">User Dashboard</button>
      <button mat-menu-item>Rewards</button>
      <button mat-menu-item (click)="logout()" >Logout</button>
    </mat-menu>
    <a class="userDiv" [matMenuTriggerFor]="profileMenu" *ngIf="authService.loginFlag">
      <div class="iconUserDiv">
        <img src="assets/images/User.svg" alt="truck image" class="iconUser" /></div>
      {{authService.loggedInCustomerName}}

    </a>
    <a class="userDiv" (click)="loginPage()" *ngIf="!authService.loginFlag">
      <div class="iconUserDiv">
        <img src="assets/images/User.svg" alt="truck image" class="iconUser" /></div>
      Login / Signup

    </a>
    <!-- <div class="dropdown userDiv">
      <a  data-toggle="dropdown"><img src="assets/images/User.svg" alt="truck image" class="iconUser" *ngIf="authService.loginFlag" />{{authService.loggedInCustomerName}}
      </a>
    <a  data-toggle="dropdown"><img src="assets/images/User.svg" alt="truck image" class="iconUser" *ngIf="!authService.loginFlag"/>Login / Signup
    </a>
    <ul class="dropdown-menu" role="menu">
      <button mat-menu-item (click)="dashboard()">User Dashboard</button>
      <button mat-menu-item>Rewards</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </ul>
</div> -->
    <div class="iconDivCart">
      <a><img src="assets/images/Card.svg" alt="truck image" class="icons" />Cart</a>

    </div>
    <div class="iconDivOffer">
      <a><img src="assets/images/Offers.svg" alt="truck image" class="icon" />Offer's</a>

    </div>
    <div class="iconDivPay">
      <a><img src="assets/images/Pay32.svg" alt="truck image" class="icon" />Pay32</a>

    </div>
  </div>
</mat-toolbar-row>
</mat-toolbar>
<!-- 
<mat-toolbar-row class="header2"> 
  <button mat-button>
    <mat-icon class="iconCategory">menu</mat-icon>
    <h4 class="iconCategory" fxShow="false" fxShow.gt-sm>Categories</h4>
  </button>
  <mat-card class="box"><input matInput placeholder="Search for products and categories" />
    <button mat-fab color="primary" style="margin-top: 3px;margin-bottom: 3px;">
      <mat-icon class="spanPad">search</mat-icon>
    </button></mat-card>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button (click)="login()">
    <mat-icon class="icon">account_box</mat-icon>Profile
  </button>
  <button mat-button>
    <mat-icon class="icon" matBadgeColor="accent">shopping_cart</mat-icon>Cart
  </button>
  <button mat-button>
    <mat-icon class="icon">card_giftcard</mat-icon>My Rewards
  </button>
  <button mat-button>
    <mat-icon class="icon">account_balance_wallet</mat-icon>Pay 32
  </button>
</div>
</mat-toolbar-row>  -->