
<mat-toolbar>  
    <mat-toolbar-row class="header1">
        <span class="container row">
            <a  href="">
                <img class="paddingLeft" src="assets/images/Lumiere-Logo.svg" alt="Rxagile logo svg">
            </a>  
            </span>  
            <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button mat-button>Sell On Lumiere32</button>
            <mat-divider class="style-fix" [vertical]="true"></mat-divider>
            <button mat-button>About Us</button>
            <mat-divider class="style-fix" [vertical]="true"></mat-divider>
            <button mat-button>Help Center</button>
            <mat-divider class="style-fix" [vertical]="true"></mat-divider>
            <button mat-button>Wish List</button>
            <mat-divider class="style-fix" [vertical]="true"></mat-divider>
            <button mat-button>Contact Us</button>
            <mat-menu #appMenu="matMenu">
              </mat-menu>
              <button mat-button class="border1" [matMenuTriggerFor]="appMenu">	<mat-icon class="iconDisplay">flag</mat-icon>
                Singapore   <mat-icon class="iconDisplay">expand_more</mat-icon>
              </button>
        </div>
        
    </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar-row class="header2">  <button mat-button><mat-icon class="iconDisplay">menu</mat-icon><h4 class="iconDisplay">Categories

    </h4></button>
        <mat-card class="box"><input 
            matInput
            placeholder="Search for products and categories" />
            <button mat-fab color="primary" style="margin-top: 3px;margin-bottom: 3px;">
              <mat-icon class="spanPad">search</mat-icon>
              </button></mat-card>
        <button mat-button (click)="login()"><mat-icon class="icon">account_box</mat-icon>Profile</button>
    <button mat-button><mat-icon class="icon"matBadgeColor="accent">shopping_cart</mat-icon>Cart</button>
    <button mat-button><mat-icon class="icon">card_giftcard</mat-icon>My Rewards</button>
    <button mat-button><mat-icon class="icon">account_balance_wallet</mat-icon>Pay 32
    </button> </mat-toolbar-row>
  
