mat-toolbar-row.mat-toolbar-row.header1 {
    background-color: white;
    height: 93px;
    padding-left: 8%;
    padding-right: 8%;
}
mat-toolbar-row.mat-toolbar-row.header2 {
    background-color: #63C7DB;
    height: 85px;
    color: white;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}
.mat-icon.icon{
    display: flow-root;
    fill: currentColor;
    height: 17px;
    width: 76px;
}
mat-icon.iconDisplay {
    display: unset;
}
.mat-card{
    padding-block-end: inherit;
    padding-block-start: inherit;
    width: 50%;
    padding: 0;
}
  
  mat-divider.style-fix {
    height: 50px;
    display: initial;
    border-right-width: 1.5px;
    margin-left: 4px; 
    margin-right: 4px;
  }
  button.border1 {
    border: 2px solid #63C7DB;
  }
  input#mat-input-0 {
    width: 90%;
    border: none;
  }
  .mat-fab{
    border-radius: 4px;
    width: 45px;
    height: 45px;
    box-shadow: none;
    background-color: #11227d;
  }
  span.mat-button-wrapper {
    padding:10px 0;
}
  .mat-card-content {
      margin-bottom: 0px;
  }
  button:focus {
    outline: none;
  }
  .iconSearch{
    height: 0;
    width: 0;
    display: contents;
  }