mat-toolbar-row.mat-toolbar-row.header1 {
    background-color: white;
    height: 93px;
    padding-left: 8%;
    padding-right: 8%;
}
mat-toolbar-row.mat-toolbar-row.header2 {
    background-color: #63C7DB;
    height: 85px;
    color: white;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}
.mat-icon{
    display: flow-root;
    fill: currentColor;
    height: 17px;
    width: 76px;
}
mat-icon.mat-icon.notranslate.iconDisplay.material-icons.mat-icon-no-color {
    display: unset;
}
.mat-card{
    padding-block-end: inherit;
    padding-block-start: inherit;
    width: 50%;
}