::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 8px !important;
    position: relative;
    .forgot-password-image {
        position: absolute;
        left: -10%;
        top: -18%;
    }
    .forgot-dialog-wrapper {
        max-width: 70%;
        margin: 0 auto;
        padding: 80px 60px 80px;
        .heading-wrapper {
            padding-bottom: 30px;
            h3 {
                font-size: 24px;
            }
        }
        button.custom-button {
            width: 100% !important;
            min-width: auto !important;
        }
    }
}