<div class="forgot-dialog-wrapper">
    <!-- forgot password inage -->
    <div class="forgot-password-image">
        <img src="assets/images/forgot-password-image.svg" alt="forgot password image" />
    </div>
    <div class="heading-wrapper">
        <h3>
            Forgot Password
        </h3>
    </div>
    <form>
        <div>
            <input type="text" placeholder="Email" class="form-control-override">
            <!-- <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                    <div *ngIf="f.userId.errors.required">Email/Mobile No. is required</div>
                </div> -->
        </div>
        <div class="text-center button-wrapper">
            <button type="submit" class="custom-button">Submit</button>
        </div>
    </form>
</div>