button.verifyBtn{
    width: 65% !important;
    float: left !important;
}
.disable{
    opacity: 0.4;
    cursor: not-allowed !important;
} 
.paddingLeft{
    padding-left: 15%;
    cursor: pointer;

}
.paragraph-wrapper{
    padding-top: 7%;
}
.dis{
    display: contents;
    cursor: pointer;
}