button.verifyBtn{
    width: 65% !important;
    float: left !important;
}
button[disabled] {
    opacity: 0.4;
    cursor: not-allowed !important;
} 
.paddingLeft{
    padding-left: 20%;
}
.paragraph-wrapper{
    padding-top: 7%;
}
.dis{
    display: contents;
}