<div class="reset-wrapper">
    <div class="heading-wrapper">
        <h3>
            Reset Password
        </h3>
    </div>
    <!-- login wrapper -->
    <div class="reset-form-wrapper">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="password" placeholder="Password" class="form-control-override">
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div> -->
            </div>
            <div class="padding-top-20">
                <input type="password" placeholder="Confirm Password" class="form-control-override">
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div> -->
            </div>
            <div class="text-center button-wrapper">
                <button type="submit" class="custom-button">Save</button>
            </div>
        </form>
    </div>
</div>