

.box{
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
    0 6.5px 5px rgba(0, 0, 0, 0.06), 
    0 6px 5px rgba(0, 0, 0, 0.034), 
    0 3px 3px rgba(0, 0, 0, 0.006), 
    0 6px 5px rgba(0, 0, 0, 0.12);
}
.ptb{
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;

}
.brdr{
    border: 1px solid
    !important;
    font-size: 18px;
    padding: 0 7px !important;
    cursor: pointer;
}
.addIcon{
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 23px;
}
input.searchInp {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0;

}
.btnSearch{
    background: #63c7db;
    color: white;
    border-radius: 0;

}
.orderType{
    border: 1px solid #AAB7C9;
    border-radius: 0;

}
.downArrow{
    padding-left: 10px;
}
.mright{
    margin-right: 30px;

}
.orderHeader{
    height: 60px;
    background: #63c7db26;
    padding: 20px 30px;
}
.orderList{
    padding: 20px 30px; 

}

.listing {
        border-bottom: 1px solid lightgrey;
        padding: 15px 0 !important;
}
.searchInputdiv{
    padding-right: 15px;
}
.searchButton{
    padding-right: 20px;
}
.orderTypeDropdown{
    padding-right: 20px;
}
.lastDaysDropdown{
    padding-right: 35px
}
.dotYellow {
    height: 12px;
    width: 12px;
    background-color: #ffca01;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }
  .dotRed {
    height: 12px;
    width: 12px;
    background-color: #f4566f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }
  .dotGreen {
    height: 12px;
    width: 12px;
    background-color: #23c377;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }
  .orderHeader{
      justify-content: space-around;
  }
  .brder{
    border: 1px solid
    !important;
    padding: 0 7px !important;
    cursor: pointer;
}
.itemsBtn{
    padding-top: 10px;
}
@media only screen and (max-width: 660px) {
    .searchInputdiv{
        padding-right: 15px;
        padding-left: 20px;
    }
    .searchButton{
        padding-right: 20px;
    }
    .orderTypeDropdown{
        padding-right: 20px;
        padding-left: 20px;
    padding-top: 10px;
    }
    .lastDaysDropdown{
        padding-right: 35px;
        padding-top: 10px;
    }
    .orderHeader{
        height: 150px;
        background: #63c7db26;
        padding: 10px;
        justify-content: center;
        padding-left: 29px;
    }
    .mP{
        margin-left: -9px;
        /* margin-right: 32px; */
        padding-right: 0px;
    }
    .orderImg{
        text-align: center;
    }
}