<app-post-login-header></app-post-login-header>
<div class="container ">
    <div class="row padding-top-40 float-right pr-4">
        <div style="" class="searchInputdiv"><input type=" text" placeholder="&#xF002; Search all orders" class="form-control searchInp">
        </div>
        <div style="" class="searchButton"><button type="button" class="btn btnSearch">Search</button></div>
        <div class="dropdown orderTypeDropdown" style="">
            <button class="btn orderType" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Type<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown lastDaysDropdown" style="">
            <button class="btn orderType" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Last 30 Days<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div style="" class="searchButton"><button type="button" class="btn btnPayAll">$288 Pay All</button></div>

    </div>
    <div class="row col-sm-12 padding-top-20 mr-0">
        <div class="col-sm-12 box ">
            <div class="row orderHeader1">
                <p style="padding-right: 30px;">ORDER NO:<span>SOR/2123334</span> </p>
                <p style="padding-right: 30px;">ORDER PLACED:<span>27 February 2017</span> </p>
                <p style="padding-right: 30px;">TOTAL:<span>$96.30</span> </p>
                <p style="padding-right: 30px;"><span class="dotYellow"></span>ORDER RECEIVED</p>
                <div style="padding-right: 21px;"><button type="button" class="btn btnSearch">Pay Now</button></div>
                <div class="dropdown">
                    <button class="btn orderType btnSearch" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View Detail</a>
                        <a class="dropdown-item" href="#">Cancel Order</a>
                        <a class="dropdown-item" href="#">Repeat Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 orderList">
                <div class="row d-flex align-items-center listing">
                    <div class="col-md-2 orderImg">
                        <img src="assets/images/dashboard-product-1.svg" alt="dashboard product image">
                    </div>
                    <div class="col-md-10 orderImg">
                        <p class="font-size-14 font-weight-500">Life steriware dental</p>
                        <p class="font-size-14">
                            <span class="text-grey">Life steriware dental</span>
                        </p>
                    </div>
                </div>
                <div class="row d-flex align-items-center listing">
                    <div class="col-md-2 orderImg">
                        <img src="assets/images/dashboard-product-1.svg" alt="dashboard product image">
                    </div>
                    <div class="col-md-10 orderImg">
                        <p class="font-size-14 font-weight-500">Life steriware dental</p>
                        <p class="font-size-14">
                            <span class="text-grey">Life steriware dental</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 itemsBtn">
                    <button mat-stroked-button class="text-blue brder">7 more items</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-sm-12 padding-top-20 mP mr-0">
        <div class="col-sm-12 box ">
            <div class="row orderHeader d-flex ">
                <p style="padding-right: 30px;">ORDER NO:<span>SOR/2123334</span> </p>
                <p style="padding-right: 30px;">ORDER PLACED:<span>27 February 2017</span> </p>
                <p style="padding-right: 30px;">TOTAL:<span>$96.30</span> </p>
                <p style="padding-right: 35px;"><span class="dotRed"></span>ORDER CANCEL</p>
                <div class="dropdown">
                    <button class="btn orderType btnSearch" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View Detail</a>
                        <a class="dropdown-item" href="#">Cancel Order</a>
                        <a class="dropdown-item" href="#">Repeat Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 orderList">
                <div class="row d-flex align-items-center listing">
                    <div class="col-md-2 orderImg">
                        <img src="assets/images/dashboard-product-1.svg" alt="dashboard product image">
                    </div>
                    <div class="col-md-10 orderImg">
                        <p class="font-size-14 font-weight-500">Life steriware dental</p>
                        <p class="font-size-14">
                            <span class="text-grey">Life steriware dental</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-sm-12 padding-top-20 mP mb-5 mr-0">
        <div class="col-sm-12 box ">
            <div class="row orderHeader d-flex ">
                <p style="padding-right: 30px;">ORDER NO:<span>SOR/2123334</span> </p>
                <p style="padding-right: 30px;">ORDER PLACED:<span>27 February 2017</span> </p>
                <p style="padding-right: 14px;">TOTAL:<span>$96.30</span> </p>
                <p style="padding-right: 35px;"><span class="dotGreen"></span>ORDER DELIVERED</p>
                <div class="dropdown">
                    <button class="btn orderType btnSearch" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View Detail</a>
                        <a class="dropdown-item" href="#">Cancel Order</a>
                        <a class="dropdown-item" href="#">Repeat Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 orderList">
                <div class="row d-flex align-items-center listing">
                    <div class="col-md-2 orderImg">
                        <img src="assets/images/dashboard-product-1.svg" alt="dashboard product image">
                    </div>
                    <div class="col-md-10 orderImg">
                        <p class="font-size-14 font-weight-500">Life steriware dental</p>
                        <p class="font-size-14">
                            <span class="text-grey">Life steriware dental</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>