<app-header></app-header>
<div class="banner-image">
    <img class="discount-image" src="assets\images\medical-product/equipment-banner.png" alt="Banner image"/> 
</div>  
<section class="get-equipment">
    <div class="container">
        <div class="row">
            <div class="col-md-3 equipment filter">
              <div class="equipment-inner">
                <div class="product-list-header">
                  <div class="main">
                    <p class="Show-product filter"> FILTER </p>
                    <p class="listing-name clearr_all"> Clear All</p>
                  </div>
                </div>
                <app-vertical-filter-bar [filters]="verticalBarFilters"></app-vertical-filter-bar>
              </div>
                <!-- <p-accordion styleClass="order-filter" expandIcon="pi pi-fw pi-plus" collapseIcon="pi pi-fw pi-minus">
                    <p-accordionTab header="Order Type" >
                      <form action="#">
                        <p>
                          <input type="checkbox" id="checkorder_test1" checked="checked"  />
                          <label for="checkorder_test1">Dine In</label>
                        </p>
                        <p>
                          <input type="checkbox" id="checkorder_test2" />
                          <label for="checkorder_test2">Pickup</label>
                        </p>
                        <p>
                          <input type="checkbox" id="checkorder_test3"  />
                          <label for="checkorder_test3">Delivery</label>
                        </p>
                          <p>
                            <input type="checkbox" id="checkorder_test4" />
                            <label for="checkorder_test4">Table Reservation</label>
                        </p>
                      </form>
                    </p-accordionTab>
                     <p-accordionTab header="Sort by" >
                        <ng-template pTemplate="content">
                          <form action="#">
                            <p>
                              <input type="radio" id="radiosort_test1" name="radio-group" checked>
                              <label for="radiosort_test1">Distance</label>
                            </p>
                            <p>
                              <input type="radio" id="radiosort_test2" name="radio-group">
                              <label for="radiosort_test2">Popularity</label>
                            </p>
                            <p>
                              <input type="radio" id="radiosort_test3" name="radio-group">
                              <label for="radiosort_test3">Rating: High to Low</label>
                            </p>
                            <p>
                              <input type="radio" id="radiosort_test4" name="radio-group" >
                              <label for="radiosort_test4">Price: Low to High</label>
                            </p>
                            <p>
                              <input type="radio" id="radiosort_test5" name="radio-group" >
                              <label for="radiosort_test5">Price: High to Low</label>
                            </p>
                            <p>
                              <input type="radio" id="radiosort_test6" name="radio-group" >
                              <label for="radiosort_test6">Grade: High to Low</label>
                            </p>
                          </form>
                        </ng-template>
                    </p-accordionTab>
                    <p-accordionTab header="Price Per Person">
                        <ng-template pTemplate="content">
                          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" ></ng5-slider>
                          <div class="price-minmax">
                            <div class="row">
                              <div class="col-md-6 col-6">
                                <div class="text-left">
                                  <span>Min Price</span>
                                </div>
                              </div>
                              <div class="col-md-6 col-6">
                                <div class="text-right">
                                  <span >Max Price</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>   -->
            </div>
            <div class="col-md-9 equipment">
              <div class="equipment-inner">
                <div class="product-list-header">
                    <div class="breadcrumb-medical">
                        <p class="Page-name">Medical <span class="arrow">></span></p>
                        <p class="listing-name">Products List</p>        
                    </div>
                    <div class="Show-product">
                        <p>Showing 1-10 of 21000 results for "Get An Equipment"</p>
                    </div>
                </div>
                <div class="all-product">
                    <div class="row">
                      <div class="col-lg-3 col-sm-4 col-6" *ngFor="let item of itemsList">
                          <div class="product-detail">
                              <i class="fa fa-bookmark" aria-hidden="true"></i>
                              <img [src]="item?.img" alt="product image">
                              <div class="product-material">
                                  <h3>{{item?.name}}</h3>
                                  <div class="product-price">
                                      <p  class="discount-price">$ {{item?.disPrice}}</p><p class="original-price"><del>$ {{item?.price}}</del></p>
                                  </div>
                                  <div class="wallet-price">
                                      <p>
                                          <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ {{item?.walletPrice}}
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="paginator paginator-product">
                <p-paginator [rows]="10" pageLinkSize="10" [alwaysShow]="false" [showCurrentPageReport]="true" [totalRecords]="105" (onPageChange)="onPageChange($event)"></p-paginator>
              </div>
            </div>
        </div>
    </div>
</section> 