<div class="register-wrapper">
    <div class="login-signup-text">
        <a [routerLink]="['/auth/login']">
                    Login</a>
        <a [routerLink]="['/auth/register']" routerLinkActive="active">Sign Up</a>
    </div>
    <ng-container *ngIf="!registerFormFlag">
        <form [formGroup]="emailForm" class="email-wrapper" (ngSubmit)="onSubmit()">
            <div class="form-wrapper form-email-wrapper">
                <div class="padding-top-20">
                    <div>
                        <input type="text" name="first name" placeholder="Email" formControlName="email" class="form-control-override" [class.is-invalid]="(emailControls.email.errors && isSubmitted)" />
                        <div *ngIf="(emailControls.email.invalid && isSubmitted)" class="invalid-feedback">
                            <p *ngIf="(emailControls.email.hasError('required') || emailControls.email.errors)">
                                Please enter valid email (xyz@abc.com)
                            </p>
                        </div>
                    </div>
                    <div class="register-button-wrapper">
                        <button type="submit" class="custom-button">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="registerFormFlag">
        <form [formGroup]="registerForm">
            <div class="form-wrapper">
                <div class="col-sm-12 p-0">
                    <input type="text" placeholder="Email" formControlName="Email" />
                </div>
                <div class="padding-top-20">
                    <div class="d-flex justify-content-between">
                        <div class="col-lg-6 col-sm-6 p-0">
                            <div class="d-flex padding-right-20">
                                <div class="dropdown-wrapper">
                                    <p-dropdown [options]="title" placeholder="Title" [showClear]="true" styleClass="prime-small-dropdown-wrapper">
                                    </p-dropdown>
                                </div>
                                <div>
                                    <input type="text" name="first name" placeholder="last name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 p-0">
                            <input type="text" placeholder="last name" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-between padding-top-20">
                        <div class="col-lg-6 p-0">
                            <div class="padding-right-20">
                                <input type="text" placeholder="clinic name" />
                            </div>

                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="d-flex ">
                                <div class="dropdown-wrapper">
                                    <p-dropdown [options]="title" placeholder="Title" [showClear]="true" styleClass="prime-small-dropdown-wrapper">
                                    </p-dropdown>
                                </div>
                                <div>
                                    <input type="number" placeholder="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between padding-top-20">
                        <div class="col-lg-6 p-0">
                            <div class="padding-right-20">
                                <input type="password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="full-width form-width-wrapper">
                            <input type="password" placeholder="Repeat Password" />
                        </div>
                    </div>
                </div>
                <div class="text-center button-wrapper" [routerLink]="['/auth/verify-email']">
                    <button type="submit" class="custom-button">Sign up</button>
                </div>
            </div>
        </form>
    </ng-container>
</div>