.last-name-wrapper {
    flex-basis: 60%;
}

.padding-right-20 {
    padding-right: 20px;
}

.register-button-wrapper {
    padding-top: 40px;
}

.email-wrapper {
    .form-email-wrapper input {
        max-width: 354px;
    }
    .register-button-wrapper {
        button {
            max-width: 354px;
        }
    }
}
.custom-button{
            width: 100%;
}
.placeholderEye{
    position: relative;
}
.input1{
    position: absolute;
    width: 46%;
}