<app-header></app-header>
<div class="banner-image">
    <img class="discount-image" src="assets\images\medical-product/equipment-banner.png" alt="Banner image"/> 
</div>  

<section class="get-equipment">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9 equipment">
                <div class="product-list-header">
                    <div class="breadcrumb-medical">
                        <p class="Page-name">Medical <span class="arrow">></span></p>
                        <p class="listing-name">Get An Equipment</p>        
                    </div>
                    <div class="Show-product">
                        <p>Showing 1-10 of 21000 results for "Get An Equipment"</p>
                    </div>
                </div>
                <div class="all-product">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="product-detail">
                                <img class="wishlist-image" src="assets/images/WISHLIST.png" alt="landing dot wrapper">
                                <img src="assets/images/medical-product/autoclave.png" alt="landing dot wrapper">
                                <div class="product-material">
                                    <h3>Life Steriware Dental</h3>
                                    <div class="product-price">
                                        <p  class="discount-price">$ 100.00</p><p class="original-price"><del>$ 200.00</del></p>
                                    </div>
                                    <div class="wallet-price">
                                        <p>
                                            <img  src="assets/images/medical-product/wallet.png" alt="carousel image">$ 80.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 