<app-header></app-header>
<div class="profile-wrapper">
    <div class="container">
        <div class="profile-user-wrapper">
            <!-- media user profile -->
            <div class="media align-items-center">
                <div class="media-left profile-user-image">
                    <img src="assets/images/post-login-user.svg" alt="post login image wrapper" />
                </div>
                <div class="media-body text-white">
                    <h4 class="media-heading">
                        Swetank Sisodia
                    </h4>
                    <p>
                        swetanksisodia@gmail.com
                    </p>
                </div>
            </div>
            <div class="profile-links-wrapper">
                <ul class="list-unstyled">
                    <li class="underline-text-wrapper">
                        Dashboard
                    </li>
                    <li class="underline-text-wrapper">
                        Profile
                    </li>
                    <li class="underline-text-wrapper">
                        Orders
                    </li>
                    <li class="underline-text-wrapper">
                        Wish List
                    </li>
                    <li class="underline-text-wrapper">
                        Quotation
                    </li>
                    <li class="underline-text-wrapper">
                        Notification
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card wishlist-card-wrapper">
                    <div>
                        <div class="wishlist-heading-text">
                            <h5>Wish List (5)</h5>
                        </div>
                        <div>
                            <!-- <div ngbDropdownMenu class="dropdown-list-wrapper animated fadeIn">
                                <ul class="dropdown-list-block">
                                    <li ngbDropdownItem class="nav-item-list">

                                        <a class="nav-list" routerLinkActive="dropdown-active">Profile</a>
                                    </li>
                                    <li ngbDropdownItem class="nav-item-list">
                                        <a class="nav-list">Logout</a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="wishlist-flex-wrapper">
                        <div class="d-flex align-items-center wishlist-flex-heading bg-wishlist">
                            <div>

                            </div>
                            <div>
                                Product Name
                            </div>
                            <div>
                                Price
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="d-flex align-items-center wishlist-flex-heading">
                            <div>
                                <div>
                                    <img src="assets/images/wishlist-image-1.svg" alt="wishlist image block" />
                                </div>
                                <div>
                                    <p class="font-size-14">Medesy Plier Allis</p>
                                    <p class="font-size-14">3:4 Mm150 #1530/1</p>
                                    <p class="font-size-14 text-grey">By:Eastland Pvt Ltd</p>
                                </div>
                                <div>
                                    <p>$100.00</p>
                                </div>
                            </div>

                            <div class="wishlist-button-wrapper text-right">
                                <button type="button" class="custom-button">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>