h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
    margin: 0;
}

@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

// body {
//     font-family: "Poppins";
// }
.login-signup-text {
    a {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 7px;
        color: #CBD3DD;
        &:not(:last-child) {
            margin-right: 40px;
        }
        &:hover {
            color: #63C7DB;
            border-bottom: 3px solid;
            text-decoration: none;
        }
    }
    .active {
        color: #63C7DB;
        border-bottom: 3px solid;
    }
}

input::-webkit-input-placeholder {
    color: #CBD3DD;
}

.custom-button {
    // min-width: 15em;
    min-width: 22em;
    padding: 8px 10px;
    background-color: #63C7DB;
    border: none;
    color: #fff;
    border-radius: 4px;
}

.custom-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
}

.btn-blue {
    background-color: #1B4791;
    color: #fff;
}

.flex-basis-100 {
    flex-basis: 100% !important;
}

// custom small dropdown styling starts
.prime-small-dropdown-wrapper.ui-dropdown {
    min-width: 5em;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-label {
    // padding-right: 0 !important;
    padding: 4px 0 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-inputtext {
    color: #AAB7C9 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown {
    border: 1px solid #a6a6a6 !important;
    padding: 6px 4px !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger {
    color: #AAB7C9 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger-icon {
    font-size: 14px;
}

.padding-top-20 {
    padding-top: 20px;
}
.padding-top-40 {
    padding-top: 40px;

}
.padding-top-40 {
    padding-top: 40px;
}

.dropdown-wrapper {
    margin-right: 8px;
}

// custom small dropdown styling ends

/* You can add global styles to this file, and also import other style files */

.full-width {
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

// slick carousel
.custom-slick-carousel {
    .slick-slide img {
        width: 329px;
        margin: 0 auto;
    }
    .slick-dots {
        bottom: -66px;
        left: 0;
    }
    .slick-dots {
        // display: flex;
        // justify-content: center;
        // margin: 0;
        padding: 1rem 0;
        list-style-type: none;
        li {
            margin: 0 0 12px !important;
        }
        button {
            display: block;
            width: 11px;
            height: 11px;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: #E6E7E8;
            text-indent: -9999px;
        }
        li.slick-active button {
            background-color: #63C7DB;
        }
    }
    .carousel-text-wrapper {
        max-width: 70%;
        margin: 30px auto 10px;
        text-align: center;
    }
}

.text-blue {
    color: #63C7DB;
}

// Styling the default Slick dots
// form styling
.form-wrapper {
    margin: 39px 20px 0 0;
    // .form-width-wrapper {
    //     flex-basis: 77%;
    // }
    .form-control-field {
        padding-right: 20px;
    }
}

input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    border: 1px solid #AAB7C9;
    border-radius: 4px;
    padding: 8px 10px;
    // color:#fff;
}

.button-wrapper {
    padding-top: 40px;
}

.font-weight-600 {
    font-weight: 600;
}

.login-signup-text:hover {
    color: #63C7DB;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.errors {
    display: block;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    margin-top: 0px;
    padding-top: 3px;
}

.is-invalid {
    border-color: #FF586B !important;
}

.custom-slick-carousel:focus,
.custom-slick-carousel:active {
    outline: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.underline-text-wrapper {
    color: #4b4b4b;
    font-size: 40px;
    position: relative;
    font-weight: 600
}

.font-weight-500 {
    font-weight: 500;
}

.underline-text-wrapper:before {
    content: "";
    position: absolute;
    width: 51px;
    height: 1px;
    bottom: -10px;
    left: 0;
    border-bottom: 4px solid #1B4791;
}

.text-grey {
    color: #506D85;
}

.font-size-14 {
    font-size: 14px;
}

.display-block {
    display: block;
}

.text-underline {
    text-decoration: underline !important;
}

.text-line-through {
    text-decoration: line-through;
}

.font-size-14 {
    font-size: 14px;
}

.view-link-wrapper {
    .view-link {
        color: #000 !important;
    }
}

.padding-top-15 {
    padding-top: 15px;
}

.full-height {
    height: 100%;
}

.border-none {
    border: none !important;
}
.top-product{
  height: 355px;
  border-radius: 2px;
  border: solid 1px #e4eaf2;
  background-color: #ffffff;
  padding: 20px 20px;

  img {
    left: 10px;
    position: relative;
}
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    color: #101010;
    padding: 0px 0 15px;
}
h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #000000;
}
}
h3.underline-text-wrapper.small-pading {
    padding-bottom: 10px;
}
.top-selling-product {
    margin-bottom: 150px;
}
.otherservice {
    background-color: #f6f8fb;
    padding: 60px 0 60px;
}
.prod-img {
    height: 222px;
}
.all-other-services {
    margin: 75px 0 50px;
}
.one-service {
    padding-left: 0px;
}
.other-services-one {
    padding: 20px 0;
    h3 {
        padding: 15px 0 8px;
        font-size: 21px;
        font-weight: 600;
        font-stretch: normal;
        line-height: 1.52;
        color: #000000;
    }
     p {
        width: 240px;
        font-size: 16px;
        line-height: 1.43;
        color: #506d85;
        text-align: left;
    }
    .other-services-one .image {
        width: 132px;
        height: 107px;
        align-items: flex-end;
        display: flex;
    }
}
.freequot {
    background-color: #63c7db;
    padding: 60px 0 100px;
    // margin-top: 65px;
}
.freequotes-hedng {
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: 347px;
}
.freequote-card {
    width: 132px;
    min-height: 129px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 20px;
    h3 {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
    }
    p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: #63c7db;
    }
}
// .freequote-card-inone {
//     margin-top: 50px;
// }
.freequote-card.text-center.one {
    margin-top: 22px;
}
.freequote-card.text-center.two {
    margin: 0 20px 25px 18px;
}
.quote-form-card {
    padding: 40px 35px;
    // width: 419px;
    width:100%;
    // height: 402px;
    height:100%;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    h2 {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.52;
        color: #000000;
        padding-bottom: 35px;
    }
}
.field-quote {
    border-radius: 4px;
    border: solid 1px #e4eaf2;
}
.field-quote .form-control {
    height: 45px;
}
button.btn.btn-quote {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: #63c7db;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}
.wishlist-flex {
    display: flex;
}
.wishlist-flex-inline {
    display: flex;
}
.invalid-feedback.trmsuse.ng-star-inserted {
    position: absolute;
    bottom: 70px;
}
.account-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.card.dashboard-product-card {
    max-height: 300px;
    overflow-y: auto;
}
.biling-address.box {
    margin-top: 30px;
    padding-bottom: 30px;
}
.personal-detail.box {
    padding-bottom: 30px;
}
.shiping-details.box {
    margin-top: 30px;
    padding-bottom: 30px;
}
.edit-between {
    display: flex;
    justify-content: space-between;
}
span.edit.edit-clr {
    color: #fff;
}
.mobile-code {
    display: flex;
}
.code-country {
    margin-right: 10px;
}
.codewdt.ui-dropdown {
    min-width: 65px;
    height: 38px;
}
.asterick {
    color: red;
}
.ng-tns-c128-5.ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
    min-width: 0 !important;
    min-height: 38px !important;
}
.ui-dropdown .ui-dropdown-trigger {
    min-width: 0 !important;
}
// .box.pb-3.scroll-account {
//     max-height: 150px;
//     overflow-y: auto;
// }
@media only screen and (max-width:660px) {

    .display-mobile-none {
        display: none;
    }

    .deliver-button-wrapper {
        text-align: center;
    }

    .deliver-card-spacing {
        padding-top:2em !important;
    }

    .freequote-card {
        width: 68%;
        margin: 0 auto 31px;
    }

    .customer-slide-card {
        height: auto !important;
    }

    .customer-slider-width {
        width:100% !important;
    }

    .customer-slide-wrapper .fa-long-arrow-right, .customer-slide-wrapper .fa-long-arrow-left {
        display: none !important;
    }

    .freequote-card.text-center.one {
        margin: 0 auto;
    }

    // .row {
    //     margin:0;
    // }

    .feature-slide-wrapper .fa-chevron-right, .feature-slide-wrapper .fa-chevron-left {
        display: none !important;
    }

    .quote-form-card {
        width: 100%;
    }

    .freequote-card.text-center.two {
        margin: 15px auto 25px auto;
    }

    .custom-button {
        width: 100%;
        min-width: 100%;
    }
    .custom-slick-carousel .slick-slide img {
        width: 100%;
    }
    .login-form-wrapper {
        max-width: 100% !important;
    }
    .auth-card-wrapper {
        height: auto !important;
    }
    .login-wrapper,
    .register-wrapper {
        padding: 16px;
    }
    .landing-wrapper .card-absolute-wrapper {
        transform: translate(0%, 0) !important;
    }
    .display-mobile-block {
        display: block !important;
    }
    .display-mobile-block .padding-right-20 {
        padding-right: 0 !important;
    }
    .inp {
        position: absolute;
        width: 75% !important;
    }
    .terms-block-wrapper {
        padding-top: 65px;
    }
    .padding-mobile-20 {
        padding-top: 20px !important;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        padding: 0 0 !important;
    }
}


@media (max-width: 767px)
	{
    .menutoggl {
        font-size: 36px;
    }
    mat-toolbar-row.header2 {
        background-color: #63C7DB;
        color: white;
        height: 80px;
    }
    .card.deliver-card {
        margin-bottom: 30px;
    }
    .view-link-wrapper .view-link {
        color: #000 !important;
        font-weight: 700;
    }
    .supplier-card.supplier-card-blue[_ngcontent-maa-c327] {
        background-color: #1B4791;
        margin-bottom: 30px;
    }
    .medical-mobile-equip {
        margin-top: 60px;
    }
    .digital-solution-card {
        margin-bottom: 30px;
    }
    .top-product {
        margin-bottom: 30px;
        text-align: center;
    }
    .top-selling-product {
        margin-bottom: 25px;
    }
    .digital-solution-wrapper {
        padding: 3em 0 3em;
        position: relative;
    }
    .other-services-one {
        text-align: center !important;
    }
    .other-services-one p {
        width: 100%;
        font-size: 16px;
        line-height: 1.43;
        color: #506d85;
        text-align: center;
    }
    .footer-blue-text.footer-divider {
        font-weight: 600;
        font-size: 20px;
        padding-top: 20px;
    }
    .footer-input.padding-top-20 {
        width: 70%;
        margin: auto;
    }
    .footer-wrapper {
        background: #1B4791;
        padding: 3em 0 0em;
        position: relative;
    }
    // .orderList {
    //     margin-top: 109px;
    // }
    .searchButton.payll-butt {
        margin-top: 15px;
        margin-left: 20px;
    }
    .wishlist-flex {
        text-align: center !important;
        display: block;
    }
    .price{
        display: none;
    }
    .wishlist-flex-inline {
        display: inline-block;
    }
    .card.dashboard-card {
        margin-bottom: 25px;
    }
    .card.dashboard-balance-card {
        margin-bottom: 25px;
    }
    input.inputSearch {  
        font-size: 13px;
    }
    .profile-links-wrapper .profile-text-wrapper.underline-text-wrapper {
        margin-bottom: 20px;
    }
    .profile-user-wrapper .profile-user-image img {
        width:40px;
    }
}


@media (max-width: 991px)
{
    .card.dashboard-balance-card {
        margin-bottom: 25px;
    }
    .card.dashboard-card {
        margin-bottom: 25px;
    }
    .card.dashboard-product-card.full-height {
        margin-top: 20px;
    }
}

