h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
    margin: 0;
}

.login-signup-text {
    a {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 7px;
        color: #CBD3DD;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    .active {
        color: #63C7DB;
        border-bottom: 3px solid;
    }
}

input::-webkit-input-placeholder {
    color: #CBD3DD;
}

.custom-button {
    // min-width: 15em;
    min-width: 22em;
    padding: 8px 10px;
    background-color: #63C7DB;
    border: none;
    color: #fff;
    border-radius: 4px;
}

// custom small dropdown styling starts
.prime-small-dropdown-wrapper.ui-dropdown {
    min-width: 5em;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-label {
    // padding-right: 0 !important;
    padding: 4px 0 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-inputtext {
    color: #AAB7C9 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown {
    border: 1px solid #a6a6a6 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger {
    color: #AAB7C9 !important;
}

.prime-small-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger-icon {
    font-size: 14px;
}

.padding-top-20 {
    padding-top: 20px;
}

.dropdown-wrapper {
    margin-right: 8px;
}

// custom small dropdown styling ends

/* You can add global styles to this file, and also import other style files */

.full-width {
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-0 {
    padding: 0 !important;
}

// slick carousel
.custom-slick-carousel {
    .slick-slide img {
        width: 329px;
        margin: 0 auto;
    }
    .slick-dots {
        bottom: -66px;
        left: 0;
    }
    .slick-dots {
        // display: flex;
        // justify-content: center;
        // margin: 0;
        padding: 1rem 0;
        list-style-type: none;
        li {
            margin: 0 0 12px !important;
        }
        button {
            display: block;
            width: 11px;
            height: 11px;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: #E6E7E8;
            text-indent: -9999px;
        }
        li.slick-active button {
            background-color: #63C7DB;
        }
    }
    .carousel-text-wrapper {
        max-width: 70%;
        margin: 30px auto 10px;
        text-align: center;
    }
}

.text-blue {
    color: #63C7DB;
}

// Styling the default Slick dots
// form styling
.form-wrapper {
    margin: 39px 20px 0 0;
    // .form-width-wrapper {
    //     flex-basis: 77%;
    // }
    .form-control-field {
        padding-right: 20px;
    }
}

input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    border: 1px solid #AAB7C9;
    border-radius: 4px;
    padding: 8px 10px;
}

.button-wrapper {
    padding-top: 40px;
}

.font-weight-600 {
    font-weight: 600;
}
