<ngx-loading></ngx-loading>
<button type="button" class="close pull-right" (click)="dialog.closeAll()">
    <span class="closeSpan" aria-hidden="true">&times;</span>
  </button>
<div class="change-dialog-wrapper">
    <!-- forgot password inage -->
    <div class="change-password-image">
        <img src="assets/images/forgot-password-image.svg" alt="forgot password image" />
    </div>
    <div class="heading-wrapper">
        <h3>
            Change Password
        </h3>
    </div>
    <form>
        <div class="col-xs-12 ">
            <label>Current Password</label>
            <input type="password" placeholder="Type Current Password" class="form-control">
        </div>
        <div class="col-xs-12 padding-top-20">
            <label>Current Password</label>
            <input type="password" placeholder="Type New Password" class="form-control">
        </div>
        <div class="col-xs-12 padding-top-20">
            <label>Current Password</label>
            <input type="password" placeholder="Re-Type New Password" class="form-control">
        </div>
        <div class="text-center button-wrapper">
            <button type="submit" class="custom-button">Change Password</button>
        </div>
    </form>
</div>