<section class="footer-wrapper">
    <!-- footer absolute wrapper -->
    <div class="footer-absolute-wrapper">
        <img src="assets/images/footer-dot-image.svg" alt="footer dot image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div>
                    <img src="assets/images/lumeire-footer-logo.svg" alt="lumeire footer logo" />
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div>
                    <p class="footer-blue-text footer-divider">Company Info</p>
                </div>
                <div class="padding-top-20">
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white">About us</a>
                        </li>
                        <li>
                            <a class="text-white">Terms of Use</a>
                        </li>
                        <li>
                            <a class="text-white">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div>
                    <p class="footer-blue-text footer-divider">Your Account</p>
                </div>
                <div class="padding-top-20">
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white">Login</a>
                        </li>
                        <li>
                            <a class="text-white">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div>
                    <p class="footer-blue-text footer-divider">Contact Us</p>
                </div>
                <div class="padding-top-20">
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white">Contact Us</a>
                        </li>
                        <li>
                            <a class="text-white">Help Center</a>
                        </li>
                        <li>
                            <a class="text-white">Sell on Lumiere32</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div>
                    <p class="text-white">News Letter</p>
                </div>
                <div class="footer-input padding-top-20">
                    <input type="text" placeholder="Email Address" />
                </div>
                <div>
                    <button type="button" class="custom-btn blue-btn">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <ul class="list-unstyled list-inline footer-list-wrapper">
                        <li>
                            <a class="text-white"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="text-white"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="text-white"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="text-white"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a class="text-white"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between footer-copyright">
                    <div>
                        <p class="blue-text font-size-14">Copyrights © Lumiere 2020 All rights reserved</p>
                    </div>
                    <div>
                        <ul class="list-unstyled footer-logo-wrapper">
                            <li>
                                <img src="assets/images/visa.svg" alt="footer logo wrapper" />
                            </li>
                            <li>
                                <img src="assets/images/mastercard.svg" alt="footer logo wrapper" />
                            </li>
                            <li>
                                <img src="assets/images/paypal.svg" alt="footer logo wrapper" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>