<div>
    <app-header></app-header>
    <div class="landing-wrapper">
        <!-- half circle wrapper -->
        <!-- <div class="circle-absolute-wrapper">
            <img src="assets/images/circle.svg" alt="circle image wrapper" />
        </div> -->
        <div class="container card-absolute-wrapper">
            <div class="row d-flex">
                <div class="col-lg-4 col-sm-12 p-0">
                    <div class="card card-blue">
                        <!-- images wrapper -->
                        <div class="circle-image-wrapper">
                            <img src="assets/images/landing-image1.svg" alt="landing image" class="img-fluid" />
                        </div>
                        <div class="header-absolute-wrapper">
                            <div class="d-flex align-items-center">
                                <span class="header-card-icon">
                                            <img src="assets/images/truck.svg" alt="truck image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                            Free Shipping
                                        </span>
                            </div>
                            <div class="d-flex align-items-center padding-top-20">
                                <span class="header-card-icon">
                                            <img src="assets/images/return.svg" alt="return image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                                7 Days Return
                                        </span>
                            </div>
                            <div class="d-flex align-items-center padding-top-20">
                                <span class="header-card-icon">
                                            <img src="assets/images/Shape.svg" alt="shape image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                        24/7 Support
                                </span>
                            </div>
                            <div class="header-button-wrapper">
                                <button type="button" class="custom-button">
                                    Explore Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 p-0">
                    <div class="slider-relative-wrapper">
                        <div class="dot-absolute-wrapper">
                            <img src="assets/images/home-dot-image.svg" alt="dot image wrapper" />
                        </div>
                        <ngx-slick-carousel class="carousel custom-home-carousel" [config]="slideConfig" #slickModal="slick-carousel" (init)="slickInit($event)">
                            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                <img src="{{ slide.img }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="deliver-wrapper">
        <!-- dot absolute wrapper -->
        <div class="dot-absolute-wrapper">
            <img src="assets/images/landing-dot-image.svg" alt=" landing dot image" />
        </div>
        <!-- triangle wrapper -->
        <div class="triangle-absolute-wrapper">
            <img src="assets/images/triangle.svg" alt=" landing triangle image" />
        </div>

        <!-- landing dot wrapper -->
        <div class="landing-dot-wrapper">
            <img src="assets/images/landing-dot.svg" alt=" landing triangle image" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <div class="heading-wrapper">
                            <h3 class="underline-text-wrapper">We Deliver</h3>
                        </div>
                        <div class="deliver-para-text">
                            <p class="text-grey">
                                At Lumiere32 we envision it to bridge the distribution gap between dealers and clinicians, through its robust online platform and become a single touch point to connect Manufacturers, Dealers, Medical & Dental Professionals across Singapore.
                            </p>
                        </div>
                        <div class="deliver-button-wrapper">
                            <button type="button" class="custom-btn btn-blue font-weight-600">
                                        Know More
                                    </button>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-1.svg" alt="deliver image 1" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">200+ Brands</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-2.svg" alt="deliver image 2" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">Conveience 24/7</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 deliver-card-spacing">
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-1.svg" alt="deliver image 1" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">200+ Brands</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-2.svg" alt="deliver image 2" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">Conveience 24/7</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
            </div>
        </div>
    </section>
    <section class="supplier-wrapper">
        <!-- dot absolute wrapper -->
        <div class="dot-absolute-wrapper">
            <img src="assets/images/supplier-absolute-image.svg" alt="supplier absolute image" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper">
                            <span class="display-block">
                                    Hi, Looking for Supplies?
                            </span>
                            <span class="display-block">
                                    We can Help!
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- row starts -->
            <div class="supplier-row-block">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-link-wrapper">
                            <a href="javasctipt:void(0)" class="view-link">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row supplier-row-wrapper">
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-card">
                            <div class="supplier-heading-wrapper">
                                <h3 class="text-uppercase text-white font-weight-600">Dental Supplies</h3>
                            </div>
                            <div class="supplier-image-wrapper">
                                <img src="assets/images/supplier-image.svg" alt="supplier image" />
                            </div>
                            <div>
                                <a class="text-uppercase text-center text-underline text-white cursor-pointer">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- card starts -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-triangle-card">
                            <!-- supplier triangle absolute -->
                            <div class="supplier-triangle-wrapper text-white">
                                <p class="font-weight-600 percentage-wrapper">50%</p>
                                <p class="font-size-14">Flat Off</p>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/images/supplier-image-2.svg" class="media-object" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Dentmark dental air</h4>
                                    <p>
                                        <span>$ 100</span>
                                        <span class="text-line-through text-grey">$ 180</span>
                                    </p>
                                    <p class="text-grey font-size-14">
                                        At Lumiere32 we envision it to bridge the distribution.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-triangle-card">
                            <!-- supplier triangle absolute -->
                            <div class="supplier-triangle-wrapper text-white">
                                <p class="font-weight-600 percentage-wrapper">50%</p>
                                <p class="font-size-14">Flat Off</p>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/images/supplier-image-2.svg" class="media-object" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Dentmark dental air</h4>
                                    <p>
                                        <span>$ 100</span>
                                        <span class="text-line-through text-grey">$ 180</span>
                                    </p>
                                    <p class="text-grey font-size-14">
                                        At Lumiere32 we envision it to bridge the distribution.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
            </div>

            <div class="supplier-row-block">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-link-wrapper">
                            <a href="javasctipt:void(0)" class="view-link">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-card supplier-card-blue">
                            <div class="supplier-heading-wrapper">
                                <h3 class="text-uppercase text-white font-weight-600">Medical Supplies</h3>
                            </div>
                            <div class="supplier-image-wrapper">
                                <img src="assets/images/supplier-image-3.svg" alt="supplier image" />
                            </div>
                            <div>
                                <a class="text-uppercase text-center text-underline text-white cursor-pointer">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- card starts -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-triangle-card">
                            <!-- supplier triangle absolute -->
                            <div class="supplier-triangle-wrapper text-white">
                                <p class="font-weight-600 percentage-wrapper">50%</p>
                                <p class="font-size-14">Flat Off</p>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/images/supplier-image-2.svg" class="media-object" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Dentmark dental air</h4>
                                    <p>
                                        <span>$ 100</span>
                                        <span class="text-line-through text-grey">$ 180</span>
                                    </p>
                                    <p class="text-grey font-size-14">
                                        At Lumiere32 we envision it to bridge the distribution.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="card supplier-triangle-card">
                            <!-- supplier triangle absolute -->
                            <div class="supplier-triangle-wrapper text-white">
                                <p class="font-weight-600 percentage-wrapper">50%</p>
                                <p class="font-size-14">Flat Off</p>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/images/supplier-image-2.svg" class="media-object" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Dentmark dental air</h4>
                                    <p>
                                        <span>$ 100</span>
                                        <span class="text-line-through text-grey">$ 180</span>
                                    </p>
                                    <p class="text-grey font-size-14">
                                        At Lumiere32 we envision it to bridge the distribution.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- trending categories starts -->
    <section class="trending-category-wrapper">
        <!-- landing dot wrapper -->
        <div class="landing-absolute-wrapper">
            <img src="assets/images/landing-dot.svg" alt="landing dot wrapper" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper">
                            Trending Categories
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <ngx-slick-carousel class="carousel" [config]="slideTrendingConfig" #slickModal="slick-carousel" (init)="slickInit($event)">
                        <div ngxSlickItem *ngFor="let slide of trendingSlides" class="slide">
                            <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
                            <div class="col-lg-3 col-md-6 col-sm-12 max-full-width">
                                <div class="card trending-card">
                                    <div class="trending-absolute-wrapper">
                                        <img src="{{slide.img}}" alt="dentist image wrapper" />
                                    </div>
                                    <div [ngClass]="['trending-card-small', slide.class]">
                                    </div>
                                    <div class="trending-para-text d-flex justify-content-center align-items-center">
                                        <p>
                                            <span>{{slide.text}}</span>
                                            <span class="trending-icon"><i class="fa fa-chevron-right"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </section>
    <!-- trending categories ends -->
    <section class="medical-wrapper">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div>
                        <img src="assets/images/medical-image.svg" alt="medical image" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div>
                        <h3 class="text-white">Medical Equipment Needs</h3>
                    </div>
                    <div class="medical-para-text">
                        <h4 class="text-white">Use Pay32,Pay Smarter</h4>
                    </div>
                    <div class="medical-list-block">
                        <div class="medical-list-wrapper d-flex align-items-center">
                            <span class="medical-tick-icon">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="medical-text text-white">
                                12 Monthly installments
                            </span>
                        </div>
                        <div class="medical-list-wrapper d-flex align-items-center">
                            <span class="medical-tick-icon">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="medical-text text-white">
                                As-Low-As 1.5% PA
                            </span>
                        </div>
                        <div class="medical-list-wrapper d-flex align-items-center">
                            <span class="medical-tick-icon">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="medical-text text-white">
                                $200,000 Wallet Value
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- digital solution wrapper starts -->
    <section class="digital-solution-wrapper">
        <div class="digital-absolute-wrapper">
            <img src="assets/images/half-circle.svg" alt="half image wrapper">
        </div>
        <!-- digital solution image -->
        <div class="digital-detector-wrapper">
            <img src="assets/images/digital-solution-image.svg" alt="digital solution image" />
        </div>

        <!-- landing dot image -->
        <div class="landing-dot-wrapper">
            <img src="assets/images/landing-dot.svg" alt="digital solution image" />        
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper">
                            Our Digital Solutions
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row digital-solution-row">
                <div class="col-lg-3 col-sm-12">
                    <div class="card digital-solution-card">
                        <div>
                            <img src="assets/images/digital-image.svg" alt="digital image" />
                        </div>
                        <div class="digital-solution-text">
                            <h5>Digital Wallet</h5>
                            <p>
                                At Lumiere32 we envision it to bridge the distribution gap between.
                            </p>
                            <p>
                                <span class="red-text font-size-14">Learn More</span>
                                <span class="red-text digital-icon"><i class="fa fa-chevron-right"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card digital-solution-card">
                        <div>
                            <img src="assets/images/buy-now-image.svg" alt="Buy Now image" />
                        </div>
                        <div class="digital-solution-text">
                            <h5>Buy Now Pay Later</h5>
                            <p>
                                At Lumiere32 we envision it to bridge the distribution gap between.
                            </p>
                            <p>
                                <span class="green-text font-size-14">Learn More</span>
                                <span class="green-text digital-icon"><i class="fa fa-chevron-right"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row digital-solution-row">
                <div class="col-lg-3 col-sm-12">
                    <div class="card digital-solution-card">
                        <div>
                            <img src="assets/images/pay-image.svg" alt="digital image" />
                        </div>
                        <div class="digital-solution-text">
                            <h5>Pay32 SME</h5>
                            <p>
                                At Lumiere32 we envision it to bridge the distribution gap between.
                            </p>
                            <p>
                                <span class="orange-text font-size-14">Learn More</span>
                                <span class="orange-text digital-icon"><i class="fa fa-chevron-right"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card digital-solution-card">
                        <div>
                            <img src="assets/images/pay-yellow-image.svg" alt="Pay image" />
                        </div>
                        <div class="digital-solution-text">
                            <h5>Pay32 Clinic</h5>
                            <p>
                                At Lumiere32 we envision it to bridge the distribution gap between.
                            </p>
                            <p>
                                <span class="yellow-text font-size-14">Learn More</span>
                                <span class="yellow-text digital-icon"><i class="fa fa-chevron-right"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="top-selling-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper small-pading">
                            Top Selling Products
                        </h3>
                        <div _ngcontent-rva-c327="" class="view-link-wrapper">
                            <a _ngcontent-rva-c327="" href="javasctipt:void(0)" class="view-link"> View All </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="top-product">
                        <div class="top-single-product">
                            <div class="prod-img">
                                <img src="assets/images/top-product-1.png" alt="digital image" />
                            </div>
                            <p>
                                Renfert Vacuum Mixing Unit Twister Evolution Venturi
                            </p>
                            <h3>$ 98</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="top-product">
                        <div class="top-single-product">
                            <div class="prod-img">
                                <img src="assets/images/top-product-2.png" alt="digital image" />
                            </div>
                            <p>
                                Renfert Vacuum Mixing Unit Twister Evolution Venturi
                            </p>
                            <h3>$ 98</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="top-product">
                        <div class="top-single-product">
                            <div class="prod-img">
                                <img src="assets/images/top-product-1.png" alt="digital image" />
                            </div>
                            <p>
                                Renfert Vacuum Mixing Unit Twister Evolution Venturi
                            </p>
                            <h3>$ 98</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="top-product">
                        <div class="top-single-product">
                            <div class="prod-img">
                                <img src="assets/images/top-product-1.png" alt="digital image" />
                            </div>
                            <p>
                                Renfert Vacuum Mixing Unit Twister Evolution Venturi
                            </p>
                            <h3>$ 98</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="otherservice">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper small-pading">
                            Other Services
                        </h3>
                    </div>
                </div>
            </div>
            <div class="all-other-services row">
                <div class="col-lg-4 col-sm-12 one-service">
                    <div class="other-services-one">
                        <div class="image"> 
                            <img src="assets/images/other-service-1.png" alt="otherservice image" />
                        </div>
                        <span>
                            <h3>Classified Ads</h3>
                        </span>
                        <span>
                            <p>At Lumiere32 we envision it to bridge the distribution gap between</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="other-services-one">
                        <div class="image"> 
                            <img src="assets/images/other-service-2.png" alt="otherservice image" />
                        </div>
                        <span>
                            <h3>Disinfection and Cleaning</h3>
                        </span>
                        <span>
                            <p>At Lumiere32 we envision it to bridge the distribution gap between</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="other-services-one">
                        <div class="image">
                            <img src="assets/images/other-service-3.png" alt="otherservice image" />
                        </div>
                        <span>
                            <h3>Renovation</h3>
                        </span>
                        <span>
                            <p>At Lumiere32 we envision it to bridge the distribution gap between</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="freequot">
        <div class="container">
            <div class="row">
                <!-- <div class="dot-absolute-wrapper">
                    <img src="assets/images/home-dot-image.svg" alt="dot image wrapper" />
                </div> -->
                <div class="col-md-12"> 
                    <div class="freequotes-hedng">
                        <p>Get Free Quotes From Multiple Sellers</p>
                    </div>
                </div>
                <div class="col-md-6 freequote-card-inone">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="freequote-card text-center one">
                                <div>
                                    <img src="assets/images/quote-email.png" alt="freequote image" />
                                </div>
                                <h3>Tell us What</h3>
                                <p>You Need</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="freequote-card text-center two">
                                <div>
                                    <img src="assets/images/quote-deal.png" alt="freequote image" />
                                </div>
                                <h3>Seal the</h3>
                                <p>Deal</p>
                            </div>
                            <div class="freequote-card text-center three">
                                <div>
                                    <img src="assets/images/quote-form.png" alt="freequote image" />
                                </div>
                                <h3>Receive free quotes from</h3>
                                <p>Sellers</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="quote-form-card">
                    <div>
                        <h2>TELL US WHAT YOU NEED</h2>
                    </div>
                    <div>
                        <form>
                            <div class="form-group">
                                <div class="field-quote">
                                    <input type="test" class="form-control" id="enter-product" name="enter-product" placeholder="Enter product / service name">
                                 </div>
                             </div>
                             <div class="form-group">
                                <div class="field-quote">
                                    <input type="test" class="form-control" id="enter-product" name="enter-product" placeholder="Enter product / service name">
                                 </div>
                             </div>
                             <div class="form-group">
                                <div class="field-quote">
                                    <input type="test" class="form-control" id="enter-name" name="enter-name" placeholder="Enter Name">
                                 </div>
                             </div>
                             <button type="submit" class="btn btn-quote">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    
    <section class="top-selling-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper small-pading">
                            Featured In
                        </h3>
                    </div>
                </div>
            </div>
            <!-- <ngx-slick-carousel class="carousel" [config]="slideclientlogoConfig" #slickModal="slick-carousel" (init)="slickInit($event)">
                <div ngxSlickItem *ngFor="let slide of clientlogoSlides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
                    <div class="col-lg-3 col-md-6 col-sm-12 max-full-width">
                        <div class="card trending-card">
                            <div class="trending-absolute-wrapper">
                                <img src="{{slide.img}}" alt="dentist image wrapper" />
                            </div>
                            <div [ngClass]="['trending-card-small', slide.class]">
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel> -->
            <!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
                <mdb-carousel-item *ngFor="let item of slides; let i = index">
                    <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1">
                            <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel> -->
        </div>
    </section>
    
    <!-- digital solution wrapper ends -->
    <app-footer></app-footer>
</div>
