<div>
    <app-header></app-header>
    <div class="landing-wrapper">
        <!-- half circle wrapper -->
        <!-- <div class="circle-absolute-wrapper">
            <img src="assets/images/circle.svg" alt="circle image wrapper" />
        </div> -->
        <div class="container card-absolute-wrapper">
            <div class="row d-flex">
                <div class="col-lg-4 col-sm-12 p-0">
                    <div class="card card-blue">
                        <!-- images wrapper -->
                        <div class="circle-image-wrapper">
                            <img src="assets/images/landing-image1.svg" alt="landing image" class="img-fluid" />
                        </div>
                        <div class="header-absolute-wrapper">
                            <div class="d-flex align-items-center">
                                <span class="header-card-icon">
                                            <img src="assets/images/truck.svg" alt="truck image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                            Free Shipping
                                        </span>
                            </div>
                            <div class="d-flex align-items-center padding-top-20">
                                <span class="header-card-icon">
                                            <img src="assets/images/return.svg" alt="return image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                                7 Days Return
                                        </span>
                            </div>
                            <div class="d-flex align-items-center padding-top-20">
                                <span class="header-card-icon">
                                            <img src="assets/images/Shape.svg" alt="shape image" class="img-fluid" />
                                        </span>
                                <span class="text-white header-text">
                                        24/7 Support
                                </span>
                            </div>
                            <div class="header-button-wrapper">
                                <button type="button" class="custom-button">
                                    Explore Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 p-0">
                    <div class="slider-relative-wrapper">
                        <div class="dot-absolute-wrapper">
                            <img src="assets/images/home-dot-image.svg" alt="dot image wrapper" />
                        </div>
                        <ngx-slick-carousel class="carousel custom-home-carousel" [config]="slideConfig" #slickModal="slick-carousel" (init)="slickInit($event)">
                            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                <img src="{{ slide.img }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="deliver-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <div class="heading-wrapper">
                            <h3 class="underline-text-wrapper">We Deliver</h3>
                        </div>
                        <div class="deliver-para-text">
                            <p class="text-grey">
                                At Lumiere32 we envision it to bridge the distribution gap between dealers and clinicians, through its robust online platform and become a single touch point to connect Manufacturers, Dealers, Medical & Dental Professionals across Singapore.
                            </p>
                        </div>
                        <div class="deliver-button-wrapper">
                            <button type="button" class="custom-btn btn-blue">
                                        Know More
                                    </button>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-1.svg" alt="deliver image 1" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">200+ Brands</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-2.svg" alt="deliver image 2" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">Conveience 24/7</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 deliver-card-spacing">
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-1.svg" alt="deliver image 1" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">200+ Brands</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                    <!-- card starts -->
                    <div class="card deliver-card">
                        <div class="deliver-image-wrapper">
                            <img src="assets/images/deliver-image-2.svg" alt="deliver image 2" />
                        </div>
                        <div class="deliver-card-text">
                            <p class="font-weight-600 sub-heading-wrapper">Conveience 24/7</p>
                            <p class="text-grey font-size-14">
                                At Lumiere32 we envision it to bridge the distribution At Lumiere32 we envision it
                            </p>
                        </div>
                    </div>
                    <!-- card ends -->
                </div>
            </div>
        </div>
    </section>
    <section class="supplier-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="heading-wrapper">
                        <h3 class="underline-text-wrapper">
                            <span class="display-block">
                                    Hi, Looking for Supplies?
                            </span>
                            <span class="display-block">
                                    We can Help!
                            </span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row supplier-row-wrapper">
                <div class="col-lg-3 col-sm-12">
                    <div class="card supplier-card">
                        <div class="supplier-heading-wrapper">
                            <h3 class="text-uppercase text-white">Dental Supplies</h3>
                        </div>
                        <div class="supplier-image-wrapper">
                            <img src="assets/images/supplier-image.svg" alt="supplier image" />
                        </div>
                        <div>
                            <a class="text-uppercase text-center text-underline text-white cursor-pointer">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card supplier-triangle-card">
                        <!-- supplier triangle absolute -->
                        <div class="supplier-triangle-wrapper text-white">
                            <p class="font-weight-600 percentage-wrapper">50%</p>
                            <p class="font-size-14">Flat Off</p>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/supplier-image-2.svg" class="media-object" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Dentmark dental air</h4>
                                <p>
                                    <span>$ 100</span>
                                    <span class="text-line-through text-grey">$ 180</span>
                                </p>
                                <p class="text-grey font-size-14">
                                    At Lumiere32 we envision it to bridge the distribution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
