.landing-wrapper {
    background-color: #63C7DB;
    min-height: 270px;
    position: relative;
    .card-absolute-wrapper {
        bottom: -55%;
        position: absolute;
        min-height: 200px;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 1094px;
        margin: 0 auto;
        .card-blue {
            background-color: #1B4791;
            min-height: 373px;
            padding: 60px 40px 0;
        }
    }
}
::ng-deep app-header {
    .iconCategory{
        display: unset;
        padding: 7px;
        padding-right: 25px !important;
    }
    .iconsAll.col-md-4 {
        justify-content: space-around !important;
    }
}
.header-absolute-wrapper {
    position: absolute;
    .header-card-icon {
        padding-right: 28px;
    }
    .header-text {
        font-size: 25px;
    }
}

.header-button-wrapper {
    text-align: center;
    padding-top: 48px;
    .custom-button {
        min-width: auto;
    }
}

::ng-deep .custom-home-carousel {
    .slick-slide {
        img {
            width: 100%;
            height: 373px;
            object-fit: cover;
        }
    }
    .fa-chevron-left {
        transform: translate(0, 0);
        bottom: 1px;
        left: 0px;
        position: absolute;
        z-index: 1;
        top: inherit !important;
        background: #1b4791;
        color: #fff;
        padding: 8px 12px;
    }
    .fa-chevron-right {
        left: 35px;
        bottom: 1px;
        top: inherit !important;
        position: absolute;
        z-index: 1;
        background: #63C7DB;
        color: #fff;
        padding: 8px 12px;
    }
}

::ng-deep .feature-slide-wrapper {
    .fa-chevron-left {
        transform: translate(0, 0);
        bottom: 1px;
        left: -6%;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        top: inherit !important;
        background: #fff;
        color: #000;
        padding: 10px 12px;
        box-shadow: 0px 3px 6px #c1c1c1;
    }
    .fa-chevron-right {
        right: -6%;
        bottom: 1px;
        top: inherit !important;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        background: #fff;
        color: #000;
        padding: 10px 12px;
        box-shadow: 0px 3px 6px #c1c1c1;
    }

    .slick-dots {
        bottom:-95px;
         li {
             margin: 0 0;
             button {
                border-radius: 50%;

                &::before {
                    font-size: 13px;
                    color:#b5b5b5;
                }
             }

             &.slick-active {
                 button {
                     &::before {
                        color: #63C7DB;
                        opacity: 1;
                     }
                 }
             }
         }
    }
}


::ng-deep .customer-slide-wrapper {
    .fa-long-arrow-left {
        transform: translate(0%,-50%);
        top: 40%;
        left: 6%;
        position: absolute;
        z-index: 1;
        font-size: 27px;
        border-radius: 50%;
        background: transparent;
        color: #1B4791;
        padding: 10px 12px;
    }
    .fa-long-arrow-right {
        right: 6%;
        top: 40%;
        transform: translate(0%,-50%);
        position: absolute;
        z-index: 1;
        font-size: 27px;
        border-radius: 50%;
        background: transparent;
        color: #1B4791;
        padding: 10px 12px;
    }
}

.customer-slide-card {
    padding: 42px 25px 57px !important;
    height: 300px;
    border: none;
}

.customer-slider-block {
    padding-top: 43px;
}

.comma-image-wrapper {
    padding-bottom: 30px;
}

.featured-heading {
    padding-top: 64px;
}

.select-padding {
    padding: 0 16px 0 0 !important;
}

.slider-relative-wrapper {
    .dot-absolute-wrapper {
        top: -7%;
        position: absolute;
        right: -11%;
        z-index: 0;
    }
}

.deliver-wrapper {
    padding-top: 16em;
    padding-bottom: 3em;
    position: relative;
    .dot-absolute-wrapper {
        position: absolute;
        left: 7%;
        top: 21%;
    }

    .landing-dot-wrapper {
        position: absolute;
        left: 0;
        top: 21%;
    }

    .triangle-absolute-wrapper {
        position: absolute;
        top: 15%;
        right: 9%;
        z-index: 0;
    }
}

.deliver-para-text,
.deliver-button-wrapper {
    padding-top: 33px;
}

.deliver-para-text {
    max-width: 60%;
}

.deliver-button-wrapper button {
    min-width: 8em;
}

.deliver-card {
    text-align: center;
    border: none;
    box-shadow: -1px 13px 20px #F0F2F4;
    padding: 34px 16px;
    .deliver-image-wrapper {
        padding-bottom: 14px;
    }
    .deliver-card-text {
        .sub-heading-wrapper {
            padding-bottom: 18px;
            font-size: 18px;
        }
    }
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.deliver-card-spacing {
    padding-top: 7em;
}

.supplier-wrapper {
    padding-bottom: 4em;
    position:relative;

    .dot-absolute-wrapper {
        position: absolute;
        top: 0%;
        right: 9%;
    }
}

.supplier-card {
    // height: 263px;
    background-color: #63C7DB;
    &.supplier-card-blue {
        background-color: #1B4791;
    }
    text-align: center;
    border-radius: 8px;
    padding: 15px 15px 15px;
    .supplier-heading-wrapper {
        h3 {
            font-size: 25px;
        }
    }
    .supplier-image-wrapper {
        padding: 13px 0;
    }
}

.supplier-row-wrapper {
    padding-top: 56px;
}

.supplier-triangle-card {
    position: relative;
    height: 100%;
    justify-content: flex-end;
    border-radius: 8px;
    .media {
        // padding-top: 42px;
        padding: 42px 12px;
        .media-heading {
            font-size: 18px;
        }
    }
    .supplier-triangle-wrapper {
        position: absolute;
        top: 8px;
        left: 5px;
        z-index: 1;
        .percentage-wrapper {
            font-size: 24px;
        }
    }
}

.supplier-triangle-card::before,
.supplier-triangle-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

.supplier-triangle-card::before {
    border-width: 3.8em;
    border-left-color: #63C7DB;
    border-top-color: #63C7DB;
    border-top-left-radius: 8px;
}

.supplier-triangle-card::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-left-color: #63C7DB;
    border-top-color: #63C7DB;
}

.view-link-wrapper {
    // padding-top: 20px;
    padding: 20px 0;
    text-align: right;
}

// .supplier-column-wrapper {
//     flex: 0 0 37.333333%;
//     max-width: 37.333333%;
// }
.trending-category-wrapper {
    background-color: #F6F8FB;
    padding: 3em 0;
    position: relative;
    .trending-card {
        min-height: 270px;
        border-radius: 8px;
        justify-content: space-between;
        border: 0px;
        margin-top: 60px;
        border-color: none !important;
        box-shadow: -1px 13px 20px #F0F2F4;
        .trending-card-small {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            min-height: 132px;
        }
        .trending-card-blue {
            background: #E0EAFF;
        }
        .trending-card-yellow {
            background: rgba(255, 202, 1, 0.09);
        }
        .trending-card-pink {
            background: #FEE6DC;
        }
        .trending-card-green {
            background: #DFF7EA;
        }
        .trending-absolute-wrapper {
            position: absolute;
            top: 33%;
            transform: translate(-50%, 0);
            left: 46%;
        }
        .trending-para-text {
            text-align: center;
            padding-bottom: 30px;
            .trending-icon {
                padding-left: 5px;
            }
        }
    }
    .max-full-width {
        max-width: 100% !important;
    }

    .landing-absolute-wrapper {
        position: absolute;
        top: -12%;
        right: 4%;
    }
}

.medical-wrapper {
    background-color: #1B4791;
    padding: 2em 0 2em;
    .medical-para-text {
        padding-top: 12px;
        h4 {
            font-size: 40px;
            font-weight: 600;
        }
    }
    .medical-tick-icon {
        color: #fff;
        background: #32BEA6;
        border-radius: 50%;
        padding: 2px 4px;
        font-size: 11px;
        margin-right: 10px;
    }
    .medical-list-block {
        padding-top: 35px;
        .medical-list-wrapper {
            padding-top: 10px;
            .medical-text {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    h3 {
        font-size: 40px;
    }
}

.digital-solution-wrapper {
    padding: 8em 0 3em;
    position: relative;
    .digital-absolute-wrapper {
        position: absolute;
        right: 0;
    }

    .digital-detector-wrapper {
        position: absolute;
        top: 22%;
        right: 10%;

    }

    .landing-dot-wrapper {
        position: absolute;
        top: 3%;
        right: 2%;
    }
}

.digital-solution-card {
    padding: 16px 16px;
    box-shadow: -1px 13px 20px #F0F2F4;
    border: none;
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
        color: #506D85;
        padding-top: 10px;
    }
    .digital-solution-text {
        padding-top: 15px;
        h5 {
            font-weight: 600;
        }
    }
    .digital-icon {
        padding-left: 5px;
    }
}

.digital-solution-row {
    padding-top: 40px;
}

.red-text {
    color: #F4566F;
}

.green-text {
    color: #02C873;
}

.orange-text {
    color: #F1874E;
}

.yellow-text {
    color: #FFCA01;
}

.freequote-row-wrapper {
    padding-top:63px;
}

.freequot {
    position: relative;

    .landing-dot-wrapper {
        position: absolute;
        top: 3px;
        right: 17%;
    }
}

.feature-slide-block {
    margin-top: 5em;
    border: 1px solid #E4EAF2;
    padding: 18px 0;
    border-radius: 4px;
}


::ng-deep .feature-slide-wrapper {
    .slick-slide img {
        margin: 0 auto;
    }

    .slick-track {
        display:flex;
        align-items: center;
    }
}

.customer-wrapper {
    padding: 4em 0 6em;
    background: #F6F8FB;
    position: relative;

    .landing-dot-wrapper {
        position: absolute;
        right:3%;
        top:0;
    }
}

.customer-slider-width {
    width: 70%;
    margin: 0 auto;
}

.slide-image-block {
    padding-top:30px;

    .slide-image-wrapper {
        img {
            margin: 0 auto;
        }
    }
}

.customer-slide-card {
    padding: 16px;
}


@media only screen and (max-width: 600px) {
    .landing-wrapper .card-absolute-wrapper {
        position: relative;
    }
    .deliver-para-text {
        max-width: 100%;
    }
    .heading-wrapper h3 span {
        font-size: 20px;
    }
    .supplier-row-wrapper {
        padding-top: 0;
    }
    .supplier-triangle-card {
        margin-top: 10px;
    }
    .dot-absolute-wrapper {
        display: none;
    }
    .card-absolute-wrapper {
        bottom: auto;
        left: auto !important;
    }
    .card-absolute-wrapper .p-0 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .medical-wrapper h3 {
        font-size: 30px;
    }
    .trending-absolute-wrapper {
        position: absolute;
        top: 33%;
        left: 50% !important;
        transform: translate(-50%, 0%);
    }
    .deliver-wrapper {
        padding-top: 4em;
    }
}
